{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <H1>App Bundle Login Failure</H1>       
            <a href="{{url('lthrt_user_security_login')}}">Login</a>     
        </div>
    </div>
{% endblock %}

