{% extends 'base.html.twig' %}

{% block contentbody %}
    <div id="wrapper">
        <div id="container">
            <H1>App Bundle</H1>       
        </div>
    </div>
{% endblock contentbody %}

